.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.canvas{
    border: 1px solid red;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.main{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui{
    position: fixed;
    top: 0;
    display: flex;
}

.swatches{
    display: flex;
}

.swatch{
    border: 3px solid gray;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;

    &.selected{
        border-color: #0099FF;
    }
}